
.content-md{
    background: color($colors, curious-blue);
}
.tabs-md {
    .tab-button-icon{
        color: rgba(255, 255, 255, 0.5);
    }
    .tab-button-text{
        color: rgba(255, 255, 255, 0.5);
    }
}
.tabs-md {
    .tab-button[aria-selected=true] {
        .tab-button-icon{
            color: color($colors, _white);
        }
        .tab-button-text{
            color: color($colors, _white);
        }
    }
}

    .list-md.showList{
        opacity: 1;
        transition: all 1s ease-in-out;
    }

    .list-md{
        opacity: 0;
        
    }
    h3, p{
        color: color($colors, _white);
    }
